<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.koushikdutta.desktopsms" android:versionCode="1053"
	android:versionName="1.0.5.3">

	<uses-sdk android:minSdkVersion="8" />
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".DesktopSMSApplication" android:theme="@android:style/Theme.Light">
		<activity android:name=".MainActivity" android:label="@string/app_name"
			android:configChanges="orientation|keyboard|keyboardHidden"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".SmsReceiver" android:permission="android.permission.BROADCAST_SMS">
			<intent-filter android:priority="2147483647">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".PhoneStateChangedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>
		<receiver android:name=".C2DMReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<!-- Receive the actual message -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.koushikdutta.desktopsms" />
			</intent-filter>
			<!-- Receive the registration id -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.koushikdutta.desktopsms" />
			</intent-filter>
		</receiver>
		<receiver android:name=".DateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
		</receiver>
		<receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
		</receiver>
		<service android:name=".SyncService" />
		
        <receiver android:name=".WidgetProvider"
                android:label="@string/widget_name">
            <intent-filter>
                <action android:name="com.koushikdutta.desktopsms.TOGGLE_EMAIL" />
                <action android:name="com.koushikdutta.desktopsms.TOGGLE_XMPP" />
                <action android:name="com.koushikdutta.desktopsms.TOGGLE_WEB" />
                <action android:name="com.koushikdutta.desktopsms.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_info" />
        </receiver>
	</application>

	<uses-permission android:name="android.permission.READ_LOGS" />

	<!-- SMS related -->
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />

	<!-- Contacts -->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />

	<!-- Obvious stuff -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Web Connect account manager permissions -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />

	<!-- Push -->
	<!-- Only this application can receive the messages and registration result -->
	<permission android:name="com.koushikdutta.desktopsms.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.koushikdutta.desktopsms.permission.C2D_MESSAGE" />

	<!-- This app has permission to register and receive message -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<uses-permission android:name="com.android.vending.BILLING" />
	
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>